<div class="book-summary">

    <script type="text/javascript">
        function pageScrollToTop(element) {
            $('div.body-inner').animate({scrollTop: 0});
            return true;
        }

        function mobilePageScrollToAnchor(element) {
            $(element).closest('li.chapter').find('ul>li').removeClass('active');
            $(element).parent().addClass('active');

            if ($(document).width() <= 1240) {
                let target = $($(element).attr('href'));

                if (target.length) {
                    $('div.body-inner').animate({
                        scrollTop: target.get(0).offsetTop,
                    });
                }
            }

            return true;
        }
    </script>

    <nav role="navigation">

        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>

        <div id="book-search-input-link" role="search">
            <a href="{{ site.baseurl }}/assets/search.html">
                Click to Search
            </a>
        </div>

        <ul class="summary">

            <!-- Home -->
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active">
            {% else %}
            <li class="chapter">
            {% endif %}
                <a href="{{ site.baseurl }}/"
                   onclick="pageScrollToTop(this)">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

            <!-- Main Navigation: 01 ~ 05 only -->
            {% for item in site.data.navigation %}

                {% if page.url == item.url %}
                <li class="chapter active"
                    data-path="{{ item.url | relative_url }}">
                {% else %}
                <li class="chapter"
                    data-path="{{ item.url | relative_url }}">
                {% endif %}

                    <a href="{{ item.url | relative_url }}"
                       onclick="pageScrollToTop(this)">
                        {{ item.title | escape }}
                    </a>

                </li>

            {% endfor %}

        </ul>

    </nav>

</div>
